{% extends 'layout/base.html' %}



{% block nav %}

<p class="h-12 pt-2 text-3xl text-rose-900"> {{title}} </p>

<div class="h-6 flex w-full space-x-4 text-sm text-slate-700">
    {% with request.resolver_match.url_name as url_name %}
        {% for key, value in links.items %}
            <a     
                class="{% if url_name == value %} border-b-2 border-rose-900{% endif %}"
                href={% url value %}>{{key}} </a>
        {% endfor %}
    {% endwith %}
</div>

{% endblock %}


{% block contents %}

<div class="h-full w-full">


    <div class="flex-1 table-responsive h-full w-full overflow-hidden" x-data="manageTable()">
        <div class="flex w-1/2 mt-2"> 
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative flex-1">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" id="datatable-search" class="border border-slate-200 text-slate-800 text-sm rounded-sm focus:ring-slate-300 focus:border-slate-300 block w-full pl-10 p-1 " placeholder="Search" required>
            </div>

            {% if pg_actions|length > 1 %}
                <select x-model="pg_actions_url">
                {% for key, value in pg_actions.items %}
                    <option value="{{value}}">{{key}}</option>
                {% endfor %}
                </select>
                <button 
                    class="whitespace-nowrap flex p-1 ml-2 px-3 text-sm font-medium text-gray-500 bg-gray-100 rounded-sm border border-gray-200 hover:bg-gray-200 hover:text-gray-700 focus:ring-2 focus:outline-none "
                    @click="sidebar=true; $('#sidebar-title').html('{{key}}')" 
                    :hx-get="pg_actions_url" 
                    hx-target="#data-detail"> Go </button>
                    
            {% else %}
                {% for key, value in pg_actions.items %}
                <button class="flex p-1 ml-2 px-3 text-sm font-medium text-gray-500 bg-gray-100 rounded-sm border border-gray-200 hover:bg-gray-200 hover:text-gray-700 focus:ring-2 focus:outline-none ">
                    <span class="whitespace-nowrap"  @click="sidebar=true; $('#sidebar-title').html('{{key}}')" hx-get="{{value}}" hx-target="#data-detail"> {{key}} </span>
                </button>
                {% endfor %}
            {% endif %}
        </div>

        <table id="datatable" class="table border=1 w-full table-striped table-bordered dt-responsive compact nowrap text-sm">
        </table>
    </div>

</div>


<!-- Datatable config -->
<script language="javascript">

    $(document).ready(function() {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable'),
            "{% url datatable_list %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: false,
                scrollX: false,
                dom: 'rtip',
                responsive: false,
            }, {
                // extra_data
                {% for k,v in extra_data.items %}
                    {{k}}:'{{v}}',
                {% endfor %}
            },
        );

        $('#datatable-search').keyup(function(){
            tt = $('#datatable').DataTable();
            tt.search($(this).val()).draw()
        })
    });


    function manageTable(){
        return{

            sidebar_title: "",
            pg_actions_url: "",

            dataDetail(title,id){
                $('#sidebar-title').html(title);
                $('#data-detail').html(id);
            },

            doPageAction(title,url){
                $('#sidebar-title').html(title);
                $('#data-detail').html(url);
            },

        }
    }

</script>

{% endblock %}


{% block sidebar %}

<div class="border-b h-10 flex justify-between">

    <p class="py-2 px-4 text-rose-900 " id="sidebar-title"></p>

    <div class="">
        <button type="button" class="border-l hover:text-gray-100 hover:bg-rose-900 text-gray-500 text-lg px-2.5 py-2.5 text-center inline-flex items-center" @click="sidebar = false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>              
        </button>
    </div>

</div>



<div
    class="h-full overflow-y-scroll p-4"
    id="data-detail"
    >

    <p> a whole lot of data in here that should scroll by itself {% lorem 9 p random %}</p>

</div>

{% endblock %}