{% extends 'layout/base.html' %}

{% block nav %}
{% include "partials/nav.html" %}
{% endblock %}

{% block contents %}
<div class="h-full w-full my-3">
    <div class="flex-1 table-responsive h-full w-full overflow-hidden" x-data="manageTable()">
        <table id="datatable"
            class="table border=1 w-full table-striped table-bordered dt-responsive compact nowrap text-sm">
        </table>
    </div>
</div>

<!-- Datatable config -->
<script language="javascript">
    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable'),
            "{% url datatable_list %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: false,
                scrollX: false,
                dom: 'rtip',
                responsive: true,
                "pageLength": 12,
            }, {
                // extra_data
                {% for k, v in extra_data.items %}
                    {{ k }}: '{{v}}',
        {% endfor %}
            },
    );

    $('#datatable-search').keyup(function () {
        tt = $('#datatable').DataTable();
        tt.search($(this).val()).draw()
    })
    });

    function manageTable() {
        return {
            sidebar_title: "",
            pg_actions_url: "",

            dataDetail(title, url) {
                $('#sidebar-title').html(title);

                console.log(url)

                fetch(url)
                    .then(response => response.text())
                    .then(data => {
                        $('#data-detail').html(data)
                        htmx.process('#data-detail');
                    })
            },

            doPageAction(title, url) {
                $('#sidebar-title').html(title);
                $('#data-detail').html(url);
            },

            //deleting project
            deleteProject(id) {
                Swal.fire({
                    title: 'Deleting Project',
                    html: "Are sure you want to delete project?",
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonColor: '#4CAF50',
                    cancelButtonColor: '#F44336',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                }).then((result) => {
                    if (result.isConfirmed) {
                        console.log("project-id => " + id)
                        //fetching to URL
                        fetch("/project/delete/" + id,
                            { method: "GET", credentials: 'same-origin' })
                            .then(res => res.json())
                            .then(response => {
                                //display message
                                console.log(response);


                                // Refresh the page
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            });
                    }
                });
            },

        }
    }
</script>
{% endblock %}


{% block sidebar %}
<div class="border-b h-10 flex justify-between">
    <p class="py-2 px-4 text-red-900 text-base font-semibold" id="sidebar-title"></p>

    <div class="">
        <button type="button"
            class="border-l hover:text-gray-100 hover:bg-red-900 text-gray-500 text-lg px-2.5 py-2.5 text-center inline-flex items-center"
            @click="sidebar = false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
</div>

<div class="h-full overflow-hidden" id="data-detail">
</div>
{% endblock %}

{% block extra_js %}
<script>
  
</script>

{% endblock %}