{% extends 'layout/base.html' %}
{% load custom_tags %}
{% block title %} {{title}} {% endblock %}

{% block nav %}
    {% include "partials/nav.html" %}
{% endblock %}


{% block contents %}

<div class="h-full w-full px-10 py-3">
    <div class="flex text-sm space-x-2 pb-3">
        <input type="text" class="py-1 px-3 rounded-sm" id="datatable-search2" />
        <input type="date" class="py-1 px-3 rounded-sm " id="min"  name="min"/>
        <input type="date" class="py-1 px-3 rounded-sm " id="max"  name="max"/>
        <div class="space-x-2 py-1 px-3 rounded-sm bg-gray-500 flex items-center hover:bg-gray-800 text-white cursor-pointer">
            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z" />
            </svg> 
            <p class="" id="filter"> Filter </p> 

        </div>
        <div class="space-x-2 py-1 px-3 rounded-sm bg-red-800 flex items-center hover:bg-red-900 text-white cursor-pointer" id="Export">
            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
              </svg>              
            <p class=""> Export </p>
        </div>
    </div>
    <div class="flex h-full overflow-hidden" id="manageTable" x-data="manageTable()">
        <div class="flex-1 table-responsive h-full w-full overflow-x-scroll">
            <table id="datatable" class="table border=1 w-full table-striped table-bordered compact nowrap text-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        {% for k,col in tbl_header.items %}
                            {{col|jdata_header}} 
                        {% endfor %}
                        <th>Created on</th>
                        <th>Created By</th>
                        <th>Username</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="flex-shrink-0 w-[850px] h-full flex flex-col overflow-y-hidden transition-all duration-500" :class="{ '-mr-[850px]': !sidebarOpen }">
            <div id="instance-data" class="h-full w-full shadow-md overflow-hidden  bg-gray-100">
            </div>
        </div>
    </div>
</div>


<!-- Datatable config -->
<script language="javascript">

    $(document).ready(function() {

        var table = $('#datatable').DataTable({
            dom: '<t<"dt_dom"ip>>',
            processing: true,
            serverSide: true,
            ajax: "{{datatable_list}}",
            type: 'POST',
            rowId: [0],
            search: {
                return: true,
            },
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "pageLength": 130,
            columnDefs: [
                {
                    render: function (data, type, row) {
                        return '<span @click="dataDetail(\''+data+'\')" class="cursor-pointer text-rose-900"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-3.5">'+
                            '<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />'+
                         '</svg><span>';
                    },
                    className: "fixed bg-white hover:bg-rose-100",
                    targets: 0,
                },
                {
                    render: function (data, type, row) {
                        return '<span @click="dataDetail(\''+row[0]+'\')" class="cursor-pointer">'+data+'<span>';
                    },
                    targets: '_all',
                },
            ],

        });

        $('#Export').click(function(){
            table.button( '1' ).trigger();
        })

        $('#filter').click(function(){
            let search_val  = $('#datatable-search2').val()
            let min_date    = $('#min').val()
            let max_date    = $('#max').val()

            var obj         = new Object()
            obj.search_val  = search_val
            obj.min_date    = min_date
            obj.max_date    = max_date
            var jsonString  = JSON.stringify(obj);
            

            table.search(jsonString).draw()
            htmx.process('#manageTable')
        })

        htmx.process('#manageTable')

    });

    htmx.process('#manageTable')

    function manageTable(){
        return{

            sidebar_title: "",
            pg_actions_url: "",
            sidebarOpen: false,

            dataDetail(id){

                this.sidebar     = true;
                var title   = '<p class="text-md"> Survey Form '+id+'</p>';
                var url     = window.location.origin + '/ui/instance/' + id

                $('#sidebar-title').html(title);

                fetch(url)
                    .then(response => response.text())
                    .then(data => {
                        $('#data-detail').html(data)
                        htmx.process('#data-detail');
                    })
            },

            doPageAction(title,url){
                $('#sidebar-title').html(title);
                $('#data-detail').html(url);
            },

            

        }
    }

</script>

{% endblock %}


{% block sidebar %}

<div class="border-b h-10 flex justify-between">

    <p class="py-2 px-4 text-rose-900 " id="sidebar-title"></p>

    <div class="">
        <button type="button" class="border-l hover:text-gray-800 hover:bg-rose-50 text-gray-500 text-lg px-2.5 py-2.5 text-center inline-flex items-center" @click="sidebar = false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>              
        </button>
    </div>

</div>



<div
    class="h-full overflow-hidden"
    id="data-detail"
    >

</div>

{% endblock %}