{% load static %}


<div class="flex justify-between pt-2" x-data="manageHeader">
    <div>
        <img class="h-8" src="{% static 'images/logo_C.png' %}" alt="Afyadata">
    </div>
    
    <div>



                <!-- Profile dropdown -->
                <div class="relative ml-3">
                    <div>
                        <button type="button"
                            @click="showProfile = !showProfile"
                            class="flex rounded-full bg-rose-900 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <div class="p-1 text-white text-xs">
                                {{user.first_name|make_list|first}}{{user.last_name|make_list|first}}
                            </div>
                        </button>
                    </div>
                    <div x-show="showProfile" @click.outside="showProfile = false" x-transition 
                        class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <!-- Active: "bg-gray-100", Not Active: "" -->
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
                            id="user-menu-item-0">Your Profile</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1"
                            id="user-menu-item-1">Settings</a>
                        <a href="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem"
                            tabindex="-1" id="user-menu-item-2">Sign out</a>
                    </div>
                </div>
    </div>
</div>


<script>

    function manageHeader() {
        return {
            showProfile:    false,

        }
    }

</script>