
{% load custom_tags %}

<ul class="h-8 w-full border-b flex space-x-4 px-5 mt-2 text-sm" x-data="{link:'data'}">
    <li
        class="flex hover:text-rose-800 cursor-pointer"     
        :class="{ 'border-b-2 border-rose-900': link == 'profile' }"
        hx-get="{% url 'manage_members' member.id %}" hx-target="#sidebar-detail" hx-trigger="click" 
        @click="link = 'profile'">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
          
        <p class="pl-1">Profile</p>
    </li>   

    <li   
        class="flex hover:text-rose-800 cursor-pointer"  
        :class="{ 'border-b-2 border-rose-900': link == 'groups' }"
        hx-get="{% url 'manage_pm_groups' member.id  %}" hx-target="#sidebar-detail" hx-trigger="click" 
        @click="link = 'groups'">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
        </svg>          
        <p class="pl-1">Manage Groups</p>
    </li>  

    <li     
        class="flex hover:text-rose-800 cursor-pointer"  
        :class="{ 'border-b-2 border-rose-900': link == 'passwd' }"
        hx-get="{% url 'change_pm_password' member.member.id %}" hx-target="#sidebar-detail" hx-trigger="click" 
        @click="link = 'passwd'">
        
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
        </svg>
          
        <p class="pl-1">Change Password</p>   
    </li>   


    <li     
        class="flex hover:text-rose-800 cursor-pointer"  
        :class="{ 'border-b-2 border-rose-900': link == 'media' }"
        hx-get="{% url 'manage_members' member.id  %}" hx-target="#sidebar-detail" hx-trigger="click" 
        @click="link = 'media'">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
        </svg>          
        <p class="pl-1">Access</p> 
    </li>  
</ul>

<div class="h-[calc(100%-5rem)] overflow-y-scroll" id="sidebar-detail">
    
    <div class="pb-20 p-5">

        Manage member {{ member.id }}

        <div>
            <p class="">Name: {{ member.member.first_name }} {{ member.member.last_name }}</p>
        </div>
        
        <p class=""> Groups </p>
        {% for mem in member.projectGroup.all %}
            <p>{{mem.title}}</p>
        {% endfor %}

    </div>

</div>

<script>

    htmx.process("#sidebar-detail")

    function manageMessages(){

        return{
  
           notes:            [], 
           note_uploading:   false,
           new_note:         "",
  
           fetchNotes(){
              this.notes = [
                 {% for note in notes %}
                       {
                          initials    : "{{ note.initials }}",
                          name        : "{{ note.name }}",
                          created_on  : "{{ note.created_on }}",
                          message     : "{{ note.message }}",
                       },
                 {% endfor %}
              ]
           },
  
           addNote(){
  
              console.log('adding note');
              this.note_uploading = true;
              var url             = "{% url 'manage_members' member.id %}";
  
              let formData    = new FormData();
              formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
              formData.append("message", this.new_note);
  
              fetch(url, {
                    method: 'POST',
                    body: formData,
                    credentials : 'same-origin',
              })
              .then(res => res.json())
              .then(data => {
  
                 var tmp = {
                    'initials': '{{user.first_name|upper|make_list|first}}{{user.last_name|upper|make_list|first}}',
                    'name':     '{{user.first_name}} {{user.last_name}}',
                    'message':  this.new_note,
                    'created_on': 'Just now',
                 };
                 
                 this.notes.unshift(tmp);
                 this.new_note   = "";
                 this.note_uploading     = false;
              })
              .catch(() => {
                    console.log('upload error')
              })
              .finally(() => {
                    this.note_uploading     = false;
              })
  
           },
  
           init(){
              this.fetchNotes();
           },
  
        }
     }
</script>